.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  margin-bottom: 2px;
}

.tooltip .tooltipText {
  visibility: hidden;
  width: 300px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  top: -25px;
  left: 110%;
}

.tooltip .tooltipText::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.tooltip:hover .tooltipText {
  visibility: visible;
}

.wordleForm {
  margin-bottom: 2rem;
  padding-left: 6rem;
  width: 24rem;
}

.formInput {
  margin-bottom: 1rem;
}

.potentialWords {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.potentialWord {
  display: contents;
}

.potentialWord .letter {
  text-align: center;
  justify-self: middle;
  line-height: 4rem;
  font-size: 2rem;
  width: 4rem;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  color: #ffffff;
  background-color: #6aaa64;
}